.Vision{
    background-image: url('../../../public/Assets/images/bg1.52b28087.png');
}
.vision-img{
    height: 35rem;
}
@media screen and (min-width:320px){
    .vision-img{
        height: 60rem;
    }
}
