.Momoverse{
    background-image: url('../../../public/Assets/images/bg-mobo.png');
}
.Momoverse p{
    font-weight: 500;
}
.momoverse-a{
    text-decoration: none;
    color: white;
}
.momoverse-a:hover{
    color: white;
}
.active-div{   
    display: static;    
    width: 0px;
    float: right;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;    
    transition: width 1s;
}
.momo-slider{
    height: 0px;
}
.img-verse{
    width: 100%;
    transition: All 0.5s;
}
.img-slide-verse{
    width: 10%;
}
.decorate-img-verse{
    
}
.decorate-div-verse{
    position: absolute;
}
.dis{
    position: relative;
    top:-150px;
    width: 100%;
    overflow-y:visible;
}